# Python
*.pyc
__pycache__/
*.pyo
*.pyd
*.swp
*.swo
.Python
env/
venv/
ENV/
env.bak/
venv.bak/

# Distribución
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Archivos de Django
*.log
*.pot
*.pyc
*.mo
*.sqlite3
db.sqlite3

# Directorios de media y static (si se generan automáticamente)
media/
staticfiles/

# Configuraciones locales y credenciales
.env
.env.*
*.ini
*.cfg

# Archivos de IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Archivos de sistema
.DS_Store
Thumbs.db
