<!-- /userapp/templates/userapp/dashboard.html -->
{% extends 'userapp/base.html' %}
{% block title %}Panel de Control{% endblock %}

{% block content %}
<div class="text-center">
    <h2>Menú de pedidos</h2>
    <div class="mt-4">
        <a href="{% url 'create_order' %}" class="btn btn-primary">Crear Pedido</a>
        <a href="{% url 'order_list' %}" class="btn btn-info">Ver Pedidos</a>
    </div>
    <br><br>
    {% if request.user.user_type == 'supervisor' %}
        <h2>Menú de asignación de pedidos</h2>
        <div class="mt-4">
            <a href="{% url 'assign_orders' %}" class="btn btn-warning">Asignar Pedidos</a>
            <a href="{% url 'view_orders' %}" class="btn btn-secondary">Ver Pedidos</a>
        </div>
    {% endif %}
    <br><br>
    {% if request.user.user_type == 'worker' or request.user.user_type == 'supervisor' %}
        <h2>Menú de resolución de pedidos</h2>
        <div class="mt-4">
            <a href="{% url 'resolve_orders' %}" class="btn btn-warning">Resolver Pedidos</a>
            <a href="{% url 'view_user_orders' %}" class="btn btn-secondary">Ver Pedidos</a>
        </div>
    {% endif %}
    {% if request.user.user_type == 'supervisor' or request.user.user_type == 'worker' %}
        <form method="post" action="">
            {% csrf_token %}
            {% if request.user.user_type == 'supervisor' %}
                <div class="form-check mt-3">
                    <input type="checkbox" class="form-check-input" id="receiveOrderEmails" name="receive_order_emails" {% if request.user.receive_order_emails %}checked{% endif %}>
                    <label class="form-check-label" for="receiveOrderEmails">Habilitar/deshabilitar recepción de correos de pedido sin asignación</label>
                </div>
            {% endif %}
            
            <div class="form-check mt-3">
                <input type="checkbox" class="form-check-input" id="receiveAssignmentEmails" name="receive_assignment_emails" {% if request.user.receive_assignment_emails %}checked{% endif %}>
                <label class="form-check-label" for="receiveAssignmentEmails">Habilitar/deshabilitar recepción de correos de aviso de asignación de pedidos</label>
            </div>
            
            <button type="submit" class="btn btn-primary mt-2">Guardar Preferencias</button>
        </form>
    {% endif %}


    <br><br>
    {% if request.user.user_type == 'admin' %}
        <h2>Gestión de usuarios</h2>
        <div class="mt-4">
            <a href="{% url 'register' %}" class="btn btn-success">Registrar Usuario</a>
            <a href="{% url 'user_list' %}" class="btn btn-info">Lista de Usuarios</a>
        </div>
    {% endif %}
</div>
{% endblock %}


