<!-- /userapp/templates/userapp/delete_user.html -->
{% extends 'userapp/base.html' %}
{% block title %}Eliminar Usuario{% endblock %}
{% block content %}
<h2>Eliminar Usuario</h2>
<p>¿Está seguro que desea eliminar al usuario {{ user.email }}?</p>
<form method="post">
    {% csrf_token %}
    <div class="d-flex justify-content-between mt-3">
        <a href="{% url 'user_list' %}" class="btn btn-secondary">Cancelar</a>
        <button type="submit" class="btn btn-primary">Sí, eliminar usuario</button>
    </div>
</form>
{% endblock %}
