<!-- /userapp/templates/userapp/edit_user.html -->
{% extends 'userapp/base.html' %}
{% block title %}Editar Usuario{% endblock %}
{% block content %}
<h2>Editar Usuario</h2>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <div class="d-flex justify-content-between mt-3">
        <a href="{% url 'user_list' %}" class="btn btn-secondary">Volver a la lista de usuarios</a>
        <button type="submit" class="btn btn-primary">Guardar Cambios</button>
    </div>
</form>

{% endblock %}
