<!-- /userapp/templates/userapp/password_reset_confirm.html -->
{% extends 'userapp/base.html' %}
{% block title %}Establecer Nueva Contraseña{% endblock %}
{% block content %}
    <div class="col-md-6 offset-md-3">
        <h2 class="text-center mb-4">Establecer Nueva Contraseña</h2>
        
        {% if messages %}
            {% for message in messages %}
                <p class="text-danger">{{ message }}</p>
            {% endfor %}
        {% endif %}
        
        <form method="post" class="mt-4">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="d-flex justify-content-between mt-3">
                <a href="{% url 'login' %}" class="btn btn-secondary">Volver al inicio de sesión</a>
                <button type="submit" class="btn btn-primary">Establecer contraseña</button>
            </div>
        </form>
    </div>
{% endblock %}