<!-- /userapp/templates/userapp/password_reset.html -->
{% extends 'userapp/base.html' %}
{% block title %}Restablecer Contraseña{% endblock %}
{% block content %}
    <h2>Restablecer Contraseña</h2>
    <p>Introduce tu dirección de correo electrónico y te enviaremos un enlace para restablecer tu contraseña.</p>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Enviar</button>
    </form>
    <a href="{% url 'login' %}">Volver al inicio de sesión</a>
{% endblock %}
