<!-- /userapp/templates/userapp/password_reset_done.html -->
{% extends 'userapp/base.html' %}
{% block title %}Correo Enviado{% endblock %}
{% block content %}
    <div class="col-md-6 offset-md-3">
        <h2 class="text-center mb-4">Correo Enviado</h2>
        <p class="text-center">Se ha enviado un correo electrónico con instrucciones para restablecer tu contraseña.</p>
        
        <div class="d-flex justify-content-center mt-4">
            <a href="{% url 'login' %}" class="btn btn-secondary">Volver al inicio de sesión</a>
        </div>
    </div>
{% endblock %}
