<!-- /userapp/templates/userapp/password_reset_complete.html -->
{% extends 'userapp/base.html' %}
{% block title %}Contraseña Restablecida{% endblock %}
{% block content %}
    <div class="col-md-6 offset-md-3">
        <h2 class="text-center mb-4">Contraseña Restablecida</h2>
        <p class="text-center">Tu contraseña ha sido restablecida exitosamente. Ahora puedes iniciar sesión con tu nueva contraseña.</p>
        
        <div class="d-flex justify-content-center mt-4">
            <a href="{% url 'login' %}" class="btn btn-secondary">Volver al inicio de sesión</a>
        </div>
    </div>
{% endblock %}
