<!-- /userapp/templates/userapp/register.html -->
{% extends 'userapp/base.html' %}

{% block title %}Registrar Usuario{% endblock %}

{% block content %}
    <h2>Registrar nuevo usuario</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="d-flex justify-content-between mt-3">
            <a href="{% url 'dashboard' %}" class="btn btn-secondary">Volver al dashboard</a>
            <button type="submit" class="btn btn-primary">Registrar</button>
        </div>
    </form>
{% endblock %}